/** <body> uses Arial, Helvetica, sans-serif font family, 18px font size, and #EDF4FB background color
<h1> uses RGB (26, 69, 107) font color
<li> uses #296CA8 font color
<span> with "age" class uses an italic font style
<span> with "recommended" class has a yellow background color and underlined text **/

body {
	background-color: #EDF4FB;
	font: Arial, Helvetica, sans-serif;
	font- size: 18px;
}

h1 {
 color: RGB(26, 69, 107);
}

li {
	color: #296CA8;
}

.age {
	font-style: italic;
}

.recommended {
	background-color: yellow;
	text-decoration: underlined;
}